.home-page {
    width: 100%;
    min-height: calc(100vh-64px);
    padding: 24px;
}

.vide-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,minmax(0, 1fr));
    gap: 32px 18px;
}

.video-skeleton {
    width: 100%;
}

.skeleton-thumbnail {
    display: flex;
    gap: 12px;
    padding-top: 12px;
}

.skeleton-avatar {
    width: 36px;
    height: 36px;
    flex-shrink: 0;
    border-radius: 50%;
    background-color: #1e453e;
}

.skeleton-text {
    flex: 1;
}
.skeleton-text div {
    height: 12px;
    border-radius: 6px;
    background-color: #1e453e;
    margin-bottom: 8px;
}

.skeleton-text div:first-child{
    width: 90%;
}
.skeleton-text div:last-child{
    width: 60%;
}


.home-message {
    width: 100%;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #728d86;
}
.home-message h2 {
    color: white;
    margin-bottom: 8px;
}
.home-message p{
    margin-bottom: 20px;
}
.home-message button {
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px 18px;
    background-color: #ffffff;
    color: #000000;
    font-weight: 600;

    transition: transform 0.12s ease,
                background-color 0.15s ease;
}
.home-message button:hover{
    background-color: #e5e5e5;
}
.home-message button:active{
    transform: scale(0.94);
}


@media( max-width: 1200px){
    .video-grid {
        grid-template-columns: repeat(3, minmax(0,1fr));
    }
}



@media( max-width: 900px){
    .video-grid {
        grid-template-columns: repeat(2, minmax(0,1fr));
        gap: 28px 16px;
    }

    .home-page{
        padding: 20px;
    }
}



@media( max-width: 600px){
    .video-grid {
        grid-template-columns: 1fr;
        gap: 28px;
    }

    .home-page{
        padding: 16px;
    }
}